<main class="index-main mdc-layout-grid">
  {{#each recipes}}
  <article class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
    <a class="no-text-decor" href="recipe/{{urlName title}}.html">
      <div class="mdc-card">
        <section class="sk-recipe-media">
          <img alt="{{recipe.title}}" src="{{baseUrl}}{{replace image '/public/' ''}}">
        </section>
        <section class="mdc-card__primary">
          <h1 class="mdc-card__title mdc-card__title--large">{{title}}</h1>
        </section>
        <section class="mdc-card__supporting-text">
          {{description}}
        </section>
      </div>
    </a>
  </article>
  {{/each}}
</main>

<aside>
  <h3></h3>
  <p></p>
</aside>
