<main class="recipe-main">
  <article class="mdc-card">
    <div class="mdc-card__horizontal-block">
      <section class="mdc-card__primary card-with-avatar">
        <div class="card-avatar"></div>
        <h1 class="mdc-card__title">{{recipe.author}}</h1>
        <h2 class="mdc-card__subtitle">{{moment recipe.datePublished "ll"}}</h2>
      </section>
      <section class="mdc-card__actions">
        <!-- TODO: Replace with icon buttons when we have those. -->
        <i class="mdc-icon-toggle mdc-icon-toggle--primary material-icons"
           role="button"
           aria-label="Add to favorites"
           aria-pressed="false"
           tabindex="0"
           data-toggle-on='{"content": "favorite", "label": "Remove From Favorites"}'
           data-toggle-off='{"content": "favorite_border", "label": "Add to Favorites"}'>
          favorite_border
        </i>
      </section>
    </div>
    <section
      class="mdc-card__media"
      style="background-color: gray; background-image: url('{{baseUrl}}{{replace recipe.image "/public/" ""}}');"
    >
    </section>
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">{{recipe.title}}</h1>
    </section>
    <section class="mdc-card__supporting-text">
      {{recipe.description}}
    </section>

    <section class="mdc-card__primary sk-ingredients-section">
      <h1 class="mdc-card__title mdc-card__title--large">Ingredients</h1>
      <h2 class="mdc-card__subtitle">Yield: {{recipe.recipeYield}}</h2>
      {{{ingredients recipe.recipeIngredient}}}
    </section>
    <section class="mdc-card__primary sk-procedure-section">
      <h1 class="mdc-card__title mdc-card__title--large">Procedure</h1>
      <h2 class="mdc-card__subtitle">Time: {{duration recipe.totalTimeHours recipe.totalTimeMinutes}}</h2>
      {{{procedure recipe.recipeInstructions}}}
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action">Like</button>
      <button class="mdc-button mdc-button--compact mdc-card__action">Share</button>
    </section>
  </article>
</main>

<aside>
  <h3></h3>
  <p></p>
</aside>
